#JobTable {
    max-width: 500px;
    max-height: 100px;
    background-color: white;
    font-size: 15px;
}
#JobTable tr:hover{
    cursor: pointer;
}
#jumbo{
    position: absolute;
    width: 75%;
    margin:auto;
}
